# ----------------------------------------------------------------------
# Archivos de Sistema y Temporales
# ----------------------------------------------------------------------
.DS_Store  # Archivos de caché de macOS
Thumbs.db  # Archivos de caché de Windows

# ----------------------------------------------------------------------
# Directorios de Dependencias (si usas npm, aunque no es el caso ahora)
# ----------------------------------------------------------------------
/node_modules

# ----------------------------------------------------------------------
# Configuraciones de IDEs (Editores)
# ----------------------------------------------------------------------
.vscode/    # Configuración de VS Code (a menos que quieras compartirla)
*.swp       # Archivos temporales de Vim
.idea/      # Carpetas de configuración de WebStorm/IntelliJ
